[meetup]
raw_index = meetup_test-raw
enriched_index =  meetup_test
api-token = 256d29254cbf254611f842747d28
sleep-for-rate = true
sleep-time = 300
category = event

[telegram]
raw_index = telegram_test-raw
enriched_index = telegram_test
api-token = 769492011:AAHXV4NdB_2wSXPhR16xV4TAaid5Zb9VlFM

[twitter]
collect = false
raw_index = twitter_test-raw
enriched_index = twitter_test
api-token = gZayZbb485cpReKFZoefp2C5H

[stackexchange]
raw_index = stackexchange-raw
enriched_index = stackexchange
site = stackoverflow
# tagged = python
from-date = 2019-02-25
api-token = uWCj9YP1tJg8lj)llnpSjg((
category = question

# [general]
# # Update incrementally, forever
# update = true
# # Don't start a new update earlier than (since last update, seconds)
# min_update_delay = 50
# # Produce debugging data for the logs
# debug = true

# [es_enrichment]
# # Refresh identities and projects for all items after enrichment
# autorefresh = true

[sortinghat]
# Run affilation
affiliate = True
# How to match to unify
matching = [email]
# How long to sleep before running again, for identities tasks
sleep_for = 10

[panels]
# Dashboard: default time frame
kibiter_time_from= "now-1y"
# Dashboard: default index pattern
kibiter_default_index= "git"

[phases]
collection = true
identities = true
enrichment = true
panels = true

# [git]
# raw_index = git_grimoirelab-raw
# enriched_index = git_grimoirelab
# studies = [enrich_demography:git, enrich_areas_of_code:git, enrich_onion:git]

[github]
raw_index = github_grimoirelab-raw
enriched_index = github_grimoirelab
sleep-for-rate = true
api-token = 4a3da16ab8df9a6cb1c2b23741ab020fe003ab88


# [pipermail]
# raw_index = mail_grimoirelab-raw
# enriched_index = mail_grimoirelab


# [enrich_demography:git]
# #no_incremental = true   # default: false

# [enrich_areas_of_code:git]
# in_index = git_grimoirelab-raw
# out_index = git_aoc_grimoirelab-enriched
# #sort_on_field = metadata__timestamp
# #no_incremental = false

# [enrich_onion:git]
# in_index = git_grimoirelab
# out_index = git_onion_grimoirelab-enriched
#data_source = git
#contribs_field = hash
#timeframe_field = grimoire_creation_date
#sort_on_field = metadata__timestamp
#no_incremental = false


# [git]
# raw_index = git_test-raw
# enriched_index = git_test
# studies = []

# [enrich_demography:1]
# date_field = grimoire_creation_date
# author_field =  author_uuid

# [enrich_areas_of_code]
# in_index = git_test-raw
# out_index = git_test-aoc

# [enrich_onion]
# in_index = git_test
# out_index = git_test-onion
# contribs_field = hash
# no_incremental = true

# [github:issue]
# raw_index = github_test-raw
# enriched_index = github_test
# # api-token = bbecc945cb0fd23741b231a43725d3fdb79a2f99
# sleep-for-rate = true
# category = issue
# sleep-time = 300

# [github:pull]
# raw_index = github_test-raw-pull
# enriched_index = github_test-pull
# api-token = bbecc945cb0fd23741b231a43725d3fdb79a2f99
# sleep-for-rate = true
# category = pull_request
# sleep-time = 300

